@import "../../styles/colors.scss";
@import "../../styles/text.scss";
@import "../../styles/consts.scss";

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tabs {
    display: flex;
    flex-direction: row;
    height: 3em;
    width: 50%;
    padding: 1% 10%;
    align-content: center;
    align-items: center;
}

.title {
    color: $accent;
    margin: 0;
    position: relative;
}

.tabTitle {
    cursor: pointer;
    transition: all 0.1s ease-out;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    opacity: 30%;
    color: $accent;

    &.hovered {
        padding-bottom: 15px;
    }
}

.subDivider {
    margin: auto 10px;
    width: 5rem;
    height: 1px;
}


.mainText {
    position: relative;
    transform: none;
    overflow-y: hidden;
}

.content {
    min-height: 40vh;
    display: flex;
    flex-direction: row;
}

.menu {
    position: relative;
    display: flex;
    padding-top: 3rem;
    flex-direction: column;
}

.menuItem {
    transition: all 0.3s ease-out;
}

.menuItem, .menuSelector {
    
    height: 6rem;
    width: 15rem;
    padding: 0 3rem;
    opacity: 50%;
    color: $accent;

    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.menuItem.hovered{
    opacity: 100%;
    background-color: transparentize($accent2, .95) 
}

.menuItem.selected a::before{
    content: ">"
}

.selector {
    margin-top: 2rem;
}

.selected {
    opacity: 100%;
}

.menuSelector {
    position: absolute;
    border: 1px solid $accent;
}

.jobTitle {
    white-space: pre;
    letter-spacing: 0.03rem;
    padding-bottom: 1rem;

    :last-child{
        color: $accent;
    }
}

.subTitle {
    color: $accent3;
    font-weight: normal;
    padding-bottom: .5rem;
    white-space: pre;
    font-size: 1.75rem;
    letter-spacing: 0.01rem;
}

.workContent {
    min-width: 100%;
    padding: 2.5em 0 0px 2.5em;
}

.subContent{
    padding: 10px 0 0 10px;
    width: 100%;
}

.subBody {
    line-height: 110%;
    font-size: 2.5vmin;
    letter-spacing: 0px;
    color: $accent2;
    div {
        padding: 5px 0;
    }
}
