@import "../../styles/colors.scss";
@import "../../styles/text.scss";

.home {
    font-family: Source Sans Pro;
    font-style: normal;

    display: flex;
    flex-direction: column;
}

.revealer {
    overflow-x: visible;
    overflow-y: hidden;
    width: 100%;
    position: relative;
    pointer-events: none;

    span {
        display: flex;
        position: relative;
        transform: none;
    }

    .title.titlePlaceholder {
        opacity: 0;
        overflow-x: hidden;
    }
}

.greeting {
    overflow-y: hidden;
}

.greeting span {
    display: block;
    overflow: hidden;
}

.mainText {     
    mix-blend-mode: difference;
    color: $accent2;
    opacity: .65;
}

.titleContent {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.title {
    display: flex;
    white-space:nowrap;
    position: absolute;
}

.titles {
    width: 150%;
    .title:nth-of-type(1) {
        color: $accent;
    }
    
    .title:nth-of-type(2) {
        transform: translateY(-100%);
        color: $accent2;
    }
    
    .title:nth-of-type(3) {
        transform: translateY(100%);
        color: $mute;
    }
}



.body {
    padding: 10px 0;
}



.a {
    white-space: pre;
}