@import "./colors.scss";
$navbar-size: 70px;
$selector-size: 8px;

.selector {
    opacity: 0;
    z-index: 1;
    margin-top: 25px;
    position: absolute;
    border-radius: 50%;
    width: $selector-size;
    height: $selector-size;
    border: 2.5px solid $accent;
}